<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8"/>
    <title>My eCommerce : @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--<script src="~/Scripts/modernizr-2.6.2.js"></script>-->
    <link href="~/Content/carousel.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    myEcommerce
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Admin">Admin</a></li>
                    <li><a href="/Product">Product</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Category<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Product/Computer">Computer</a></li>
                            <li><a href="/CellPhone">CellPhone</a></li>
                            <li><a href="/Accessories">Accessories</a></li>
                        </ul>
                    </li>
                    <li><a href="/Cart">Cart</a></li>
                </ul>
                <button type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>
                <button type="button" class="btn btn-default navbar-btn navbar-right">Log in</button>                
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" />
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            @RenderBody()
        </div><!--/.container-->
    </div><!--/row-->
    <hr>
    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
